# Ignore the Dockerfile itself and docker-compose
Dockerfile
docker-compose.yml

# Ignore environment and cache files
venv
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore documentation and other metadata files
README.md
Modelfile

# Ignore git files
.git
.gitignore

# Ignore .env
.env
