# Ignore the Dockerfile itself and docker-compose
Dockerfile

# Ignore environment and cache files
venv
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore documentation and other metadata files
README.md

# Ignore git files
.git
.gitignore

# Ignore .env
.env
